/* overide */

img {
    object-fit: cover !important;
}

.single-banner {
    height: 20vh;
    border: 1px solid #9E9E9E;
    box-shadow: 0 0 10px #9E9E9E;
    padding: 5px;
}

.img-fluid {
    width: 60vw;
    height: 50vh !important;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #616161;
    box-shadow: 0 0 10px #616161;
}

/* image */

.img-right {
    height: 100%;
    object-fit: contain !important;
    object-position: right;
}

.img-full-height {
    height: 100%;
    max-height: 30vh;
    min-height: 20vh;
}

.logo {
    margin-top: 0px !important;
}

/* background */
.bg-transitions {
    /* transition: all 0.1s ease; */
    background-color: #03A9F4;
}

/* container */

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}